header {
  margin: 0 auto;
  width: 100%;
  height: 2vw;
  padding: 20px 0;
  background: #999999;
  ul {
    list-style-type: none;
    li {
      a,
      a:visited,
      a:hover {

        float: left;
        padding: 0 10px;
        color: white;

      }
    }
  }
}
